# 추천시스템
## 추천 알고리즘
- 콘텐츠 기반 필터링 (초기에 사용)
 - 성격이 비슷한 상품을 추천하는 고전적인 방식
- 협업 필터링 (Collaborative Filtering : CF)
 - 구매/소비 패턴이 비슷한 사용자를 한 집단으로 보고 그 집단에 속한 소비자들의 취향이 비슷하다고 가정하고 상품을 추천하는 방식

- 콘텐츠 기반 필터링

<img src = "https://github.com/StillWork/image/blob/main/%E1%84%89%E1%85%B3%E1%84%8F%E1%85%B3%E1%84%85%E1%85%B5%E1%86%AB%E1%84%89%E1%85%A3%E1%86%BA%202021-11-13%20%E1%84%8B%E1%85%A9%E1%84%92%E1%85%AE%204.40.37.png?raw=1" align = left width=400>

## 협업 필터링
- 협업 필터링 알고리즘
 > 가까운 이웃(nearest neighbor) 협업필터링  
 > 잠재 요인(latent factor) 협업필터링 (행렬분해기법 사용)
 
### 가까운 이웃(nearest neighbor) 협업필터링
 - UBCF (User Based CF) : 패턴이 비슷한 사용자들이 좋아하는 상품(Item)을 추천
 - IBCF (Item Based CF) : 성격이 비슷한 상품을 기반으로 연관성이 있는 상품을 추천

- 사용자-아이템 평점 행렬

<img src = "https://github.com/StillWork/image/blob/main/%E1%84%89%E1%85%B3%E1%84%8F%E1%85%B3%E1%84%85%E1%85%B5%E1%86%AB%E1%84%89%E1%85%A3%E1%86%BA%202021-11-13%20%E1%84%8B%E1%85%A9%E1%84%92%E1%85%AE%204.43.32.png?raw=1" align = left width=400>

- 아이템 기반 CF (User4에게 아이템A를 추천)

<img src = "https://github.com/StillWork/image/blob/main/%E1%84%89%E1%85%B3%E1%84%8F%E1%85%B3%E1%84%85%E1%85%B5%E1%86%AB%E1%84%89%E1%85%A3%E1%86%BA%202021-11-13%20%E1%84%8B%E1%85%A9%E1%84%92%E1%85%AE%204.43.42.png?raw=1" align = left width=400>

### 잠재 요인(latent factor) 협업필터링

- 대용량 매트릭스를 SVD같은 매트릭스 분해(차원 축소)를 하면서 얻는 잠재요인 벡터를 사용하는 방식

- 사용자-아이템 행열을 사용자 잠재요인, 아이템 잠재요인 행열로 표시

<img src = "https://github.com/StillWork/image/blob/main/%E1%84%89%E1%85%B3%E1%84%8F%E1%85%B3%E1%84%85%E1%85%B5%E1%86%AB%E1%84%89%E1%85%A3%E1%86%BA%202021-11-13%20%E1%84%8B%E1%85%A9%E1%84%92%E1%85%AE%205.08.23.png?raw=1" align = left width=500>

- 예를 들어 잠재 벡터가 "코미디", "액션" 성분일 수 있다

<img src = "https://github.com/StillWork/image/blob/main/%E1%84%89%E1%85%B3%E1%84%8F%E1%85%B3%E1%84%85%E1%85%B5%E1%86%AB%E1%84%89%E1%85%A3%E1%86%BA%202021-11-13%20%E1%84%8B%E1%85%A9%E1%84%92%E1%85%AE%205.08.50.png?raw=1" align = left width=400>

- 사용자-아이템 행렬:R, 사용자별 장르 선호도 P, 영화별 장르 요소 행렬: Q

<img src = "https://github.com/StillWork/image/blob/main/%E1%84%89%E1%85%B3%E1%84%8F%E1%85%B3%E1%84%85%E1%85%B5%E1%86%AB%E1%84%89%E1%85%A3%E1%86%BA%202021-11-13%20%E1%84%8B%E1%85%A9%E1%84%92%E1%85%AE%205.09.30.png?raw=1" align = left width=500>

- 사용자-아이템 행열에서 평가가 없는 값을 추정할 수 있다

<img src = "https://github.com/StillWork/image/blob/main/%E1%84%89%E1%85%B3%E1%84%8F%E1%85%B3%E1%84%85%E1%85%B5%E1%86%AB%E1%84%89%E1%85%A3%E1%86%BA%202021-11-13%20%E1%84%8B%E1%85%A9%E1%84%92%E1%85%AE%205.09.44.png?raw=1" align = left width=500>

- 파라미터 수를 줄일 수 있다

<img src = "https://github.com/StillWork/image/blob/main/%E1%84%89%E1%85%B3%E1%84%8F%E1%85%B3%E1%84%85%E1%85%B5%E1%86%AB%E1%84%89%E1%85%A3%E1%86%BA%202021-11-13%20%E1%84%8B%E1%85%A9%E1%84%92%E1%85%AE%205.10.02.png?raw=1" align = left width=400>

<img src = "https://github.com/StillWork/image/blob/main/%E1%84%89%E1%85%B3%E1%84%8F%E1%85%B3%E1%84%85%E1%85%B5%E1%86%AB%E1%84%89%E1%85%A3%E1%86%BA%202021-11-13%20%E1%84%8B%E1%85%A9%E1%84%92%E1%85%AE%205.10.47.png?raw=1" align = left width=500>

<img src = "https://github.com/StillWork/image/blob/main/%E1%84%89%E1%85%B3%E1%84%8F%E1%85%B3%E1%84%85%E1%85%B5%E1%86%AB%E1%84%89%E1%85%A3%E1%86%BA%202021-11-13%20%E1%84%8B%E1%85%A9%E1%84%92%E1%85%AE%205.10.54.png?raw=1" align = left width=500>

- 아이템 기반 CF (User4에게 아이템A를 추천)

<img src = "https://github.com/StillWork/image/blob/main/%E1%84%89%E1%85%B3%E1%84%8F%E1%85%B3%E1%84%85%E1%85%B5%E1%86%AB%E1%84%89%E1%85%A3%E1%86%BA%202021-11-13%20%E1%84%8B%E1%85%A9%E1%84%92%E1%85%AE%205.11.08.png?raw=1" align = left width=500>

## 참고 블로그
- (개념) https://lsjsj92.tistory.com/563
- (개념) https://lsjsj92.tistory.com/564
- (코드) https://lsjsj92.tistory.com/568
- (코드) https://lsjsj92.tistory.com/569
- (데이터) kaggle의 **The movies Dataset (https://www.kaggle.com/rounakbanik/the-movies-dataset)**

# 데이터
## import

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
%config InlineBackend.figure_format = 'retina'

In [4]:
from sklearn.metrics.pairwise import cosine_similarity

- 유클리디언 거리
- 코사인 유사도

<img src = "https://github.com/StillWork/image/blob/main/%E1%84%89%E1%85%B3%E1%84%8F%E1%85%B3%E1%84%85%E1%85%B5%E1%86%AB%E1%84%89%E1%85%A3%E1%86%BA%202021-11-13%20%E1%84%8B%E1%85%A9%E1%84%92%E1%85%AE%207.23.21.png?raw=1" align = left width=400>

# 사용자-아이템 점수 테이블
- 사용자-영화-점수 테이블을 이용
- pivot_table 이용

In [5]:
ratings = pd.read_csv('https://raw.githubusercontent.com/StillWork/data/master/ratings.csv')
movies = pd.read_csv('https://raw.githubusercontent.com/StillWork/data/master/movies.csv')

In [6]:
print(ratings.shape)
ratings[:3]

(100004, 4)

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182

In [9]:
ratings.userId.value_counts()

547    2391
564    1868
624    1735
15     1700
73     1610
       ...
444      20
438      20
583      20
249      20
399      20
Name: userId, Length: 671, dtype: int64

In [10]:
print(movies.shape)
movies[:3]

(9125, 3)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance

In [11]:
ratings_movies = pd.merge(ratings, movies, on = 'movieId')
print(ratings_movies.shape)
ratings_movies[:3]

(100004, 6)

   userId  movieId  rating   timestamp                   title genres
0       1       31     2.5  1260759144  Dangerous Minds (1995)  Drama
1       7       31     3.0   851868750  Dangerous Minds (1995)  Drama
2      31       31     4.0  1273541953  Dangerous Minds (1995)  Drama

- pivot table을 이용한다

In [71]:
user_movie_rating = ratings_movies.pivot_table('rating', index = 'userId', columns='title')
user_movie_rating

title,"""Great Performances"" Cats (1998)",$9.99 (2008),'Hellboy': The Seeds of Creation (2004),'Neath the Arizona Skies (1934),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),...,Zulu (1964),Zulu (2013),[REC] (2007),eXistenZ (1999),loudQUIETloud: A Film About the Pixies (2006),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931),İtirazım Var (2014)
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
668,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
669,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
670,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
671,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## 아이템-사용자 테이블

In [72]:
# movie_user_rating = ratings_movies.pivot_table('rating', index = 'title', columns='userId')
movie_user_rating = user_movie_rating.T
movie_user_rating

userId,1,2,3,4,5,6,7,8,9,10,...,662,663,664,665,666,667,668,669,670,671
title,,,,,,,,,,,,,,,,,,,,,
"""Great Performances"" Cats (1998)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
$9.99 (2008),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
'Hellboy': The Seeds of Creation (2004),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
'Neath the Arizona Skies (1934),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
'Round Midnight (1986),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
xXx (2002),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
xXx: State of the Union (2005),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
¡Three Amigos! (1986),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
À nous la liberté (Freedom for Us) (1931),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
İtirazım Var (2014),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [73]:
movie_user_rating.fillna(0, inplace = True)
movie_user_rating.head(3)

userId,1,2,3,4,5,6,7,8,9,10,...,662,663,664,665,666,667,668,669,670,671
title,,,,,,,,,,,,,,,,,,,,,
"""Great Performances"" Cats (1998)",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
$9.99 (2008),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
'Hellboy': The Seeds of Creation (2004),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# 아이템 기반 협업 필터링

- 아이템 기반 협업 필터링은 비슷한 영화를 찾아서 추천하는 것
- 비슷한 영화를 코사인 유사도로 측정한다 (행 단위로(아이템 단위로) 상호 유사도를 측정한다)
 - 사용자 Id를 컬럼으로 하는 특성 공간상의 벡터로 표현한다

In [74]:
item_based_collabor = cosine_similarity(movie_user_rating)
print(item_based_collabor.shape)
item_based_collabor[:3]

(9064, 9064)

array([[1.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 1.        , 0.        , ..., 0.05821787, 0.        ,
        0.        ],
       [0.        , 0.        , 1.        , ..., 0.        , 0.        ,
        0.        ]])

In [75]:
item_based_collabor = pd.DataFrame(data = item_based_collabor, 
   index = movie_user_rating.index, columns = movie_user_rating.index)
item_based_collabor[:3]

title,"""Great Performances"" Cats (1998)",$9.99 (2008),'Hellboy': The Seeds of Creation (2004),'Neath the Arizona Skies (1934),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),...,Zulu (1964),Zulu (2013),[REC] (2007),eXistenZ (1999),loudQUIETloud: A Film About the Pixies (2006),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931),İtirazım Var (2014)
title,,,,,,,,,,,,,,,,,,,,,
"""Great Performances"" Cats (1998)",1.0,0.0,0.0,0.164399,0.020391,0.0,0.014046,0.000000,0.0,0.003166,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
$9.99 (2008),0.0,1.0,0.0,0.000000,0.000000,0.0,0.000000,0.079474,0.0,0.156330,...,0.0,0.0,0.0,0.0,0.0,0.013899,0.0,0.058218,0.0,0.0
'Hellboy': The Seeds of Creation (2004),0.0,0.0,1.0,0.000000,0.000000,1.0,0.000000,0.217357,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0

In [76]:
print(movie_user_rating.shape)
print(item_based_collabor.shape)

(9064, 671)
(9064, 9064)

- 특정 item에 대해 유사도가 높은 순으로 10개를 찾는 함수
- 인덱스가 title임

In [77]:
def get_item_based_collabor(title):
    return item_based_collabor[title].sort_values(ascending=False)[1:11]

In [78]:
get_item_based_collabor('Godfather, The (1972)')

title
Godfather: Part II, The (1974)                                                    0.773685
Goodfellas (1990)                                                                 0.620349
One Flew Over the Cuckoo's Nest (1975)                                            0.568244
American Beauty (1999)                                                            0.557997
Star Wars: Episode IV - A New Hope (1977)                                         0.546750
Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981)    0.538185
Saving Private Ryan (1998)                                                        0.534684
Apocalypse Now (1979)                                                             0.534347
Reservoir Dogs (1992)                                                             0.531713
Usual Suspects, The (1995)                                                        0.530727
Name: Godfather, The (1972), dtype: float64

In [28]:
get_item_based_collabor('American Beauty (1999)')

title
Fight Club (1999)                         0.604583
Sixth Sense, The (1999)                   0.584172
Being John Malkovich (1999)               0.560610
Pulp Fiction (1994)                       0.558401
Godfather, The (1972)                     0.557997
Silence of the Lambs, The (1991)          0.557522
Shakespeare in Love (1998)                0.550611
One Flew Over the Cuckoo's Nest (1975)    0.549126
Matrix, The (1999)                        0.548587
Memento (2000)                            0.544260
Name: American Beauty (1999), dtype: float64

In [32]:
from sklearn.metrics.pairwise import euclidean_distances

## 유클리디언 거리 사용
- 코사인 유사도가 아닌 특성 공간상의 직선거리를 사용하는 경우

In [33]:
item_based_distance= euclidean_distances(movie_user_rating,
                                         movie_user_rating)

In [34]:
item_based_distance = pd.DataFrame(data = item_based_distance, 
   index = movie_user_rating.index, columns = movie_user_rating.index)
item_based_distance[:3]

title,"""Great Performances"" Cats (1998)",$9.99 (2008),'Hellboy': The Seeds of Creation (2004),'Neath the Arizona Skies (1934),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),...,Zulu (1964),Zulu (2013),[REC] (2007),eXistenZ (1999),loudQUIETloud: A Film About the Pixies (2006),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931),İtirazım Var (2014)
title,,,,,,,,,,,,,,,,,,,,,
"""Great Performances"" Cats (1998)",0.000000,7.483315,3.640055,3.000000,5.000000,4.636809,6.557439,14.133294,9.178780,26.129485,...,6.422616,3.391165,6.614378,16.605722,5.431390,13.500000,3.201562,19.085335,5.431390,4.636809
$9.99 (2008),7.483315,0.000000,7.123903,6.855655,7.937254,7.681146,9.000000,14.908052,11.034038,25.792441,...,8.874120,7.000000,9.013878,17.698870,8.185353,14.739403,6.910137,19.665960,8.185353,7.681146
'Hellboy': The Seeds of Creation (2004),3.640055,7.123903,0.000000,2.061553,4.500000,1.500000,6.184658,13.509256,8.888194,26.038433,...,6.000000,2.500000,6.204837,16.446884,4.924429,13.304135,2.236068,18.947295,4.924429,4.031129

In [40]:
def get_item_based_distance(title):
    return item_based_distance[title].sort_values(ascending=True)[1:11]

In [42]:
get_item_based_distance('Godfather, The (1972)')

title
Godfather: Part II, The (1974)            40.758435
Goodfellas (1990)                         51.210351
One Flew Over the Cuckoo's Nest (1975)    55.056789
Untouchables, The (1987)                  55.179253
Apocalypse Now (1979)                     55.299186
Full Metal Jacket (1987)                  56.129315
Reservoir Dogs (1992)                     56.347138
Unforgiven (1992)                         57.371596
Jerry Maguire (1996)                      57.378132
Casablanca (1942)                         57.788407
Name: Godfather, The (1972), dtype: float64

In [43]:
get_item_based_distance('American Beauty (1999)')

title
Being John Malkovich (1999)          53.886455
Shakespeare in Love (1998)           54.244815
Election (1999)                      55.097641
Traffic (2000)                       55.369215
O Brother, Where Art Thou? (2000)    55.461698
Fight Club (1999)                    55.497748
High Fidelity (2000)                 55.585520
Memento (2000)                       55.619241
Sixth Sense, The (1999)              55.621489
Almost Famous (2000)                 55.762891
Name: American Beauty (1999), dtype: float64

## (연습) 평가 수가 가장 많은 영화 10개를 찾으시오 

- 영화제목을 찾고 평가 갯수와 평점의 평균을 구하시오
- groupby()를 사용한다

In [81]:
# (풀이)

## (연습) 평가 수가 많은 영화 3편에 대해서 유사한 영화 10편을 찾으시오

In [82]:
# (풀이)

# 정답

## (연습) 평가 수가 가장 많은 영화 10개를 찾으시오 

- 영화제목을 찾고 평가 갯수와 평점의 평균을 구하시오
- groupby()를 사용한다

In [69]:
ratings[:5]

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [68]:
df = ratings.groupby('movieId')["rating"].agg(['mean','count'])
df

             mean  count
movieId
1        3.872470    247
2        3.401869    107
3        3.161017     59
4        2.384615     13
5        3.267857     56
...           ...    ...
161944   5.000000      1
162376   4.500000      1
162542   5.000000      1
162672   3.000000      1
163949   5.000000      1

[9066 rows x 2 columns]

In [66]:
df = ratings_movies.groupby('movieId')["rating"].agg(['mean','count'])
df

             mean  count
movieId
1        3.872470    247
2        3.401869    107
3        3.161017     59
4        2.384615     13
5        3.267857     56
...           ...    ...
161944   5.000000      1
162376   4.500000      1
162542   5.000000      1
162672   3.000000      1
163949   5.000000      1

[9066 rows x 2 columns]

In [59]:
df2 = df.sort_values(by='count', ascending=False)[:10]
df2

             mean  count
movieId
356      4.054252    341
296      4.256173    324
318      4.487138    311
593      4.138158    304
260      4.221649    291
480      3.706204    274
2571     4.183398    259
1        3.872470    247
527      4.303279    244
589      4.006329    237

In [63]:
df2.merge(movies, on='movieId')

,movieId,mean,count,title,genres
0,356,4.054252,341,Forrest Gump (1994),Comedy|Drama|Romance|War
1,296,4.256173,324,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller
2,318,4.487138,311,"Shawshank Redemption, The (1994)",Crime|Drama
3,593,4.138158,304,"Silence of the Lambs, The (1991)",Crime|Horror|Thriller
4,260,4.221649,291,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Sci-Fi
5,480,3.706204,274,Jurassic Park (1993),Action|Adventure|Sci-Fi|Thriller
6,2571,4.183398,259,"Matrix, The (1999)",Action|Sci-Fi|Thriller
7,1,3.872470,247,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
8,527,4.303279,244,Schindler's List (1993),Drama|War
9,589,4.006329,237,Terminator 2: Judgment Day (1991),Action|Sci-Fi

## (연습) 평가 수가 많은 영화 3편에 대해서 유사한 영화 10편을 찾으시오

In [79]:
get_item_based_collabor('Forrest Gump (1994)')

title
Jurassic Park (1993)                 0.688040
Silence of the Lambs, The (1991)     0.667731
Braveheart (1995)                    0.658261
Shawshank Redemption, The (1994)     0.657244
Pulp Fiction (1994)                  0.655243
Speed (1994)                         0.627626
Fugitive, The (1993)                 0.622488
Terminator 2: Judgment Day (1991)    0.619415
Back to the Future (1985)            0.608397
Lion King, The (1994)                0.602429
Name: Forrest Gump (1994), dtype: float64

In [80]:
get_item_based_collabor('Jurassic Park (1993)')

title
Terminator 2: Judgment Day (1991)    0.702256
Forrest Gump (1994)                  0.688040
Fugitive, The (1993)                 0.661432
Speed (1994)                         0.649680
True Lies (1994)                     0.643807
Silence of the Lambs, The (1991)     0.634905
Lion King, The (1994)                0.629787
Batman (1989)                        0.625547
Braveheart (1995)                    0.616325
Apollo 13 (1995)                     0.615930
Name: Jurassic Park (1993), dtype: float64